<p>All Contacts</p>
<ul>
  <% @contacts.each do |contact| %>
  <li> Name:  <a href="/contacts/<%= contact.id %>"><%= contact.first_name %></a> <a href="/contacts/<%= contact.id %>"><%= contact.last_name %></a><br>
     Email:  <a href="/contacts/<%= contact.id %>"><%= contact.email %></a><br>
	Note:  <a href="/contacts/<%= contact.id %>"><%= contact.note %></a><br>
  <%end%>
</ul>
